.jumbotron.intro
  .container
    %h1 SNU SURVEY
    %p 서울대생을 위한 똑똑한 설문조사 솔루션, SNU SURVEY
    %p
      = link_to "지금 가입하기", new_user_registration_path, class: "btn btn-primary btn-lg"
      = link_to "이미 가입했다면, 로그인하기", new_user_session_path, class: "btn btn-small"
.jumbotron.second
  .container
    %h1 Convenient for investigators
    %p SNU SURVEY는 설문조사 진행자들에게 편리합니다.
.jumbotron.third
  .container
    %h1 Convenient for participants
    %p SNU SURVEY는 설문조사 참여자들에게도 편리합니다.
.jumbotron.outro
  .container
    %h3 지금 바로 시작하세요!
    %p
      = link_to "지금 가입하기", new_user_registration_path, class: "btn btn-primary btn-lg"
      = link_to "이미 가입했다면, 로그인하기", new_user_session_path, class: "btn btn-small"
