// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  display: none;
  width: 640px;
}
label {
  margin: 10px;
}
input {
  margin-right: 5px !important
}
