// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  word-break: break-all;
  width: 100%;
}
.jumbotron {
  float: right;
  text-align: right;
  & > .container {
    text-align: left;
  }
}
