// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#edit-questions {
  width: 320px;
}
#radio {
  display: block;
}
#checkbox {
  display: none;
}
#subjective {
  display: none;
}
.label-selected {
  border: 2px solid #e12;
}
.question {
  margin: 15px 0px;
}
